*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal {
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 80vw;
    height: 80vh;
    background-color: white;
}

.close_button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

#spell-buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    overflow: scroll;
}

#spell-display {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    overflow: scroll;
}

button {
    margin: 1px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.cancel_button {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.confirm_button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
}
